<div class="modal fade" id="{{container_id}}" tabindex="-1" role="dialog" aria-labelledby="rejectModalLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form method="POST" action="{{modal_leave_reject_action}}">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
              aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Reject Employee Leave</h4>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="reject_employee_leave_confirmation" class="control-label">Reject Request:</label>
            <input type="hidden" value="" name="request">
            <input type="text" class="form-control" id="reject_employee_leave_confirmation" name="comment" required
              placeholder="{{leave_id}}">
            <p><em>Please enter comment (required)</em></p>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-link" data-dismiss="modal">Cancel</button>
          <input class="btn btn-danger single-click" type="submit" value="Reject">
        </div>
      </form>
    </div>
  </div>
</div>

<script>
  modal.find('input[name="confirm_name"]').attr('placeholder', leaveId);
</script>