<div class="btn-group" data-toggle="buttons">
  <label class="btn btn-default {{#if (eq schedule.works_monday 1)}} active{{/if}}" id="schedule_item_monday">
    <input name="monday" type="checkbox" autocomplete="off" {{#if (eq schedule.works_monday 1)}} checked{{/if}}>Mon
  </label>
  <label class="btn btn-default {{#if (eq schedule.works_tuesday 1)}} active{{/if}}" id="schedule_item_tuesday">
    <input name="tuesday" type="checkbox" autocomplete="off" {{#if (eq schedule.works_tuesday 1)}} checked{{/if}}>Tue
  </label>
  <label class="btn btn-default {{#if (eq schedule.works_wednesday 1)}} active{{/if}}" id="schedule_item_wednesday">
    <input name="wednesday" type="checkbox" autocomplete="off" {{#if (eq schedule.works_wednesday 1)}}
      checked{{/if}}>Wed
  </label>
  <label class="btn btn-default {{#if (eq schedule.works_thursday 1)}} active{{/if}}" id="schedule_item_thursday">
    <input name="thursday" type="checkbox" autocomplete="off" {{#if (eq schedule.works_thursday 1)}} checked{{/if}}>Thu
  </label>
  <label class="btn btn-default {{#if (eq schedule.works_friday 1)}} active{{/if}}" id="schedule_item_friday">
    <input name="friday" type="checkbox" autocomplete="off" {{#if (eq schedule.works_friday 1)}} checked{{/if}}>Fri
  </label>
  <label class="btn btn-default {{#if (eq schedule.works_saturday 1)}} active{{/if}}" id="schedule_item_saturday">
    <input name="saturday" type="checkbox" autocomplete="off" {{#if (eq schedule.works_saturday 1)}} checked{{/if}}>Sat
  </label>
  <label class="btn btn-default {{#if (eq schedule.works_sunday 1)}} active{{/if}}" id="schedule_item_sunday">
    <input name="sunday" type="checkbox" autocomplete="off" {{#if (eq schedule.works_sunday 1)}} checked{{/if}}>Sun
  </label>
</div>